*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.bigger__container{
    width: 100%;
    min-height: 70vh;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px 0px;

}
.primary__container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
.header-img{
    color: #1B1A1A;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-taskbar > ul{
    display: flex;
    transition: transform .5s;
    gap: 30px;
}
.header-taskbar{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.header-taskbar__btn{
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #1B1A1A;
}
.header-taskbar__btn--black{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #1B1A1A;
}
#home{
    background-color: #ECE7E4;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home__wrapper{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    width: 600;
    height: 566;
    top:  85px;
    left: 150px;
    position: absolute;
}
.home__title--small{
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
}
.home__title{
    font-family: Poppins;
    font-weight: 400;
    font-size: 64px;
    line-height: 70.4px;
    color: #1B1A1A;
}
.home__text{
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #403E3B;
}
.home-btn{
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: black;
}
.home-img{
    width: 720px;
    height: 70vh;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}
.About{
    width: 768;
    height: 582;
    margin-top: 180px;
    margin-left: 380px;
}
.adversent-img{
    width: 100%;
    height: 100%;
}
.adversent-title{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.adversent-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.adversent__wrapper{
    position: absolute;
    left: 1080px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
#adversent{
    display: flex;
    position: relative;
}